
{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HERO -->
<section class="courses" style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('{% static 'images/Course.jpg' %}'); padding: 107px 0; color: white; text-align: center;">

    <div class="overlay">

        <h1>Our <span>Courses</span></h1>
        <p>Explore a wide range of career opportunities</p>
    </div>
</section>

<!-- COURSES SECTION -->
<section class="courses">

    <h2>Courses We Offer</h2>

    <div class="courses-grid">

        <!-- Medical -->
        <div class="course-card">
            <h3>Medical</h3>
            <ul>
                <li>MBBS</li>
                <li>BDS</li>
                <li>BHMS</li>
                <li>BAMS</li>
                <li>BUMS</li>
                <li>Pharm D</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
    </a>
        </div>

        <!-- Paramedical -->
        <div class="course-card">
            <h3>Paramedical</h3>
            <ul>
                <li>BPT (Physiotherapy)</li>
                <li>BOT (Occupational Therapy)</li>
                <li>B.Sc OTT</li>
                <li>B.Sc Dialysis</li>
                <li>B.Sc MLT</li>
                <li>B.Sc Radiology</li>
                <li>B.Sc Imaging Tech</li>
                <li>B.Sc Optometry</li>
                <li>B.Sc Anaesthesia</li>
                <li>B.Sc Perfusion</li>
                <li>B.Sc Cardiac Care</li>
                <li>B.Sc Respiratory Therapy</li>
                <li>B.Sc Nursing</li>
                <li>P.B.Sc Nursing</li>
                <li>M.Sc Nursing</li>
                <li>BASLP</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>
        </div>


        <!-- Engineering -->
        <div class="course-card">
            <h3>Engineering</h3>
            <ul>
                <li>Mechanical</li>
                <li>Civil</li>
                <li>Computer Science</li>
                <li>Electrical & Electronics</li>
                <li>Electronics & Communication</li>
                <li>Information Science</li>
                <li>Biomedical</li>
                <li>Mechatronics</li>
                <li>Petroleum</li>
                <li>Marine</li>
                <li>Automobile</li>
                <li>Aeronautical</li>
                <li>Biotechnology</li>
                <li>Chemical</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>
        </div>



        <!-- Management -->
        <div class="course-card">
            <h3>Management</h3>
            <ul>
                <li>BBA (Aviation/Logistics/Hospitality)</li>
                <li>B.Com (CA/CS)</li>
                <li>MBA (Advanced/Global/Core)</li>
                <li>M.Com</li>
                <li>BHA</li>
                <li>MHA</li>
                <li>BHM</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>
        </div>


        <!-- Architecture -->
        <div class="course-card">
            <h3>Architecture</h3>
            <ul>
                <li>B.Arch</li>
                <li>M.Arch</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>
        </div>
         <!-- Pharmacy -->
        <div class="course-card">
            <h3>Pharmacy</h3>
            <ul>
                <li>B.Pharm</li>
                <li>M.Pharm</li>
                <li>D.Pharm</li>
            </ul>
             <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>

    </div>

        <!-- Trending -->
        <div class="course-card">
            <h3>Trending Courses</h3>
            <ul>
                <li>B.Sc Forensic Science</li>
                <li>B.Sc Renewable Energy</li>
                <li>B.Sc Agriculture</li>
                <li>B.Sc Interior Designing</li>
                <li>B.Sc Animation</li>
                <li>B.Sc Gaming</li>
                <li>B.Sc Data Analytics</li>
                <li>BCA Cloud Computing</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>
        </div>

        <!-- Other -->
        <div class="course-card">
            <h3>Other Courses</h3>
            <ul>
                <li>BSW</li>
                <li>MSW</li>
                <li>BA LLB</li>
                <li>BBA LLB</li>
                <li>Journalism</li>
                <li>Psychology</li>
                <li>Mass Communication</li>
                <li>Fine Arts</li>
                <li>Multimedia</li>
                <li>Aviation</li>
                <li>Logistics</li>
                <li>Fashion Designing</li>
            </ul>
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20Medical%20courses"
       target="_blank"
       class="know-btn">
       Know More →
                 </a>
        </div>

    </div>

</section>

<!-- COLLEGES SECTION -->
<!-- COLLEGES SECTION -->
<section style="padding:60px 20px; background:linear-gradient(135deg,#f8fbff,#eef3f9); text-align:center;">

    <h2 style="font-size:28px; margin-bottom:30px;">Our Partner Colleges</h2>

    <div style="
        display:grid;
grid-template-columns:repeat(auto-fit, minmax(320px,1fr));        gap:20px;
        max-width:1000px;
        margin:auto;
    ">

        {% for college in colleges %}
        <div style="
            background:rgba(255,255,255,0.7);
            backdrop-filter:blur(10px);
            border-radius:12px;
            padding:15px;
            box-shadow:0 6px 15px rgba(0,0,0,0.08);
            text-align:center;
            transition:0.3s;
        ">

            <!-- LOGO -->
            <div style="
                width:250px;
                height:250px;
                margin:auto;
                margin-bottom:10px;
                border-radius:50%;
                background: linear-gradient(135deg, #fff2e6, #ffe0b3);
                border: 1px solid #ffcc99;
                display:flex;
                align-items:center;
                justify-content:center;
                border:1px solid #ffcc99;
            ">
                <img src="{{ college.logo.url }}"
                     style="width:300px; height:350px; object-fit:contain;">
            </div>

            <!-- NAME -->
            <p style="font-size:14px; font-weight:600; margin:5px 0;">
                {{ college.name }}
            </p>

            <!-- LOCATION -->
            {% if college.location %}
            <span style="font-size:12px; color:#777;">
                {{ college.location }}
            </span>
            {% endif %}

            <!-- DESCRIPTION -->
            {% if college.description %}
            <div style="font-size:12px; color:#555; margin-top:6px;">
                {{ college.description|truncatewords:10 }}
            </div><br>
            {% endif %}
<br>

            <!-- BUTTON -->
            <a href="https://wa.me/918590522461?text=I%20am%20interested%20in%20{{ college.name }}"
               target="_blank"
               style="
                    display:inline-block;
                    margin-top:8px;
                    padding:5px 10px;
                    font-size:12px;
                    border-radius:20px;
                    background:#007bff;
                    color:white;
                    text-decoration:none;
               ">
               Apply →
            </a>

        </div>
        {% endfor %}

    </div>

</section>
{% endblock %}


